body {
  width: 100%;
  height: auto;
  background-color: #4caf50;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2300563f' fill-opacity='0.29' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

html {
  font-size: 62.5%;
  font-family: 'Titillium Web', sans-serif;;
}

:root {
  --color-primary: #1b6c00;
  --color-secondary: #000000;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background: var(--color-accent);
}


/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Score Submission Form */
.score-submit-body {
  background-color: #4caf50;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23007c13' fill-opacity='0.19' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  opacity: 0.9;
}
.submission-header{
  padding: 12px 0;
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 5px;
  word-spacing: 10px;
  background: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23c4c3c6' fill-opacity='0.31'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.score-form {
  display: grid;
  grid-template: repeat(20, 1fr) / repeat(1, 1fr);
  justify-content: center;
  margin: 15px 5px 0 5px;
  justify-items: center;
  align-content: center;
  align-items: center;
  padding: 0 3%;
}

.submission-label {
  font-size: 3.4rem;
  font-weight: 700;
}

.submission-dd {
  margin-left: 15px;
  width: 130px;
  height: 25px;
}

.num-input {
  margin-left: 15px;
  height: 25px;
  font-size: 1.5rem;
  width: 65px;
  outline: 0;
}

.submission-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.submission-container-dd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submission-container,
.submission-container-dd {
  padding: 15px 5px;
  justify-content: center;
}

.button--score {
  background-color: solid #fff;
  width: 300px;
  height: 50px;
  font-size: 2rem;
  font-weight: 700;
}

.button--score:hover {
  background-color: darkgreen;
  transition: background-color 0.25s ease;
}

.button--submit,
.button--clear {
  padding: 10px;
}

.button--clear {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .score-form {
    grid-template: repeat(10, 1fr) / repeat(2, 1fr);
  }
  .submission-container,
  .submission-container-dd {
    justify-self: auto;
  }
  .submission-label {
    font-weight: 700;
  }
  .grid-item-left {
    justify-self: end;
    margin-right: 80px;
  }
  
  .grid-item-right {
    justify-self: end;
  }
  .button--clear {
    margin-top: 0;
  }
}

/* Blocks */
.block {
  padding: 0rem 4rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navigation Bar */
.nav {
  background: #161414;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
  font-size: 3rem;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__image {
  width: 250px;
  padding: 1rem 0;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 2rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Blocks */
.block {
  --padding-vertical: 4rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark .block__heading {
  color: #fff;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

/* Hero */
.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }

  .hero__content {
    text-align: left;
    align-self: center;
  }
}

/* Buttons */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: #3a8ffd;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background: #05cdf0;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #ec3000;
}

.btn--outline {
  background: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 12rem;
  }

  h2 {
    font-size: 7rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/*Plans */
.block-plans .grid {
  gap: 8rem 8rem;
}

.block-plans .card {
  background-color: white;
  max-width: 500px;
  margin: 0 auto;
}

/* Plans */
.plan {
  transition: transform 0.4s ease-out;
}

.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 5rem;
}

.plan__billing-cycle {
  font-size: 2rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan:hover {
  transform: scale(1.02);
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 3px 3px 5px 5px rgb(75, 111, 78);
  overflow: hidden;
}

.card__header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__body {
  padding: 2rem 7%;
}

.card__header img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}

.card--primary .badge--primary {
  background: #126de4;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

.card__text {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .card__text {
    font-size: 1.5rem;
  }
}



/*Season*/
.seasons-text {
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 4px #444444;

}

.seasons-header {
  font-size: 6.5rem;
  color: white;
  text-shadow: 2px 2px 4px #444444;
}
.seasons-header-tournametns {
  font-size: 10rem;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/* Features */
.feature {
  gap: 4rem 4rem;
  margin: 8rem 0;
  text-shadow: 2px 2px 4px #444444;
}

.feature h3 {
  font-size: 4rem;
}

.feature p {
  font-size: 2rem;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature__heading {
  margin: 1.5rem 0;
  color: white;

}

.feature__image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 5px rgb(75, 111, 78);
}

.feature__content {
  color: white;
}

/*Tournaments video*/
.header_video {
  width: 100%;
  height: 100%;
}

.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 1px 1px 12px #c5c5c5, -1px -1px 12px #ffffff;
  margin: 0 auto;
  display: block;
}

.button2:active {
  color: #666;
  box-shadow: inset 41px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #048324;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #048324;
}

.button2:hover:before {
  top: -35%;
  background-color: #048324;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #048324;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.links {
  text-decoration: none;
  color: black;
}

/* Showcase Block */
@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }

  .block-showcase__image {
    justify-self: end;
  }

  .block-showcase__image > img {
    border-radius: 10px;
    width: 90%;
    max-width: 700px;
  }
  .btn-left-intro {
    float: left;
  }
}
.block-showcase__image > img {
  border-radius: 10px;
  width: 90%;
  max-width: 700px;
}

/* Media */
.media {
  display: flex;
  margin-bottom: 4rem;
}

.media__title {
  margin-top: 0;
  font-size: 4rem;
}

.media__body {
  margin: 0 2rem;
  color: white;
}

.media__image {
  margin-top: 1rem;
}

.btn-left {
  float: left;
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}