
html {
    font-size: 62.5%;
    font-family: 'Titillium Web', sans-serif;;
  }
  
  
@media screen and (max-width: 768px) {
    .HP-navigation ul {
          flex-direction: column;
    }
    .HP-navigation button {
      margin: 0.5rem 0;
    }

    .HP-items li:first-child {
        margin-right: 0;
      }
  }




  .HP-navigation {
    padding: 0.1rem;
    background: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23c4c3c6' fill-opacity='0.31'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
  }

  .HP-navigation ul {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    list-style: none;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .HP-navigation a {
    color: black;
    text-decoration: none;
  }
  .HP-items li:first-child {
    margin-right: auto;
  }

  .HP-items button {
    margin-right: 40px;
  }

  .HP-items button:last-of-type {
    margin-right: 10px;
  }

  .nav-img {
    width: 14rem;
  }

  button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }

  .button_top {
    display: block;
    width: auto;
    box-sizing: border-box;
    border: solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }

  .EAS {
    margin: auto -3.7%;
  }

  .S2HP {
    margin: auto -2.8%;
  }

  .S1HP {
    margin: auto -2.9%;
  }

  .PB {
    margin: auto -2.9%;
  }

  button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }

  button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }


/* Score Submission Form */

.score-form {
  display: grid;
  grid-template: repeat(10, 200px) / repeat(2, 200px);
}